.loginPane{
    -fx-background-color: #2a2a2a;
}

.loginSystemBtn{
    -fx-graphic: url("img/btn/smallSystemButton.png");
    -fx-background-color: transparent;
}

.loginSystemBtn:hover{
    -fx-graphic: url("img/btn/smallSystemButtonHover.png");
    -fx-background-color: transparent;
}

.loginBtn{
    -fx-background-color: #363636;
    -fx-text-fill: white;
}

.signupBtn{
    -fx-background-color: #363636;
    -fx-text-fill: white;
}

.errorLbl{
    -fx-text-fill: red;
}


.rootPane{
    -fx-background-color: #2a2a2a;
}

.topPanel{
    -fx-background-color: #363636;
}

.leftPane{
    -fx-background-color: #363636;
}

.centerPanel{
    -fx-background-color: #2a2a2a;
}

.homeBtn{
    -fx-graphic: url("img/btn/homeButton.png");
    -fx-background-color: transparent;
}

.homeBtn:hover{
    -fx-graphic: url("img/btn/homeButtonHover.png");
    -fx-background-color: transparent;
}

.coursesBtn{
    -fx-graphic: url("img/btn/coursesButton.png");
    -fx-background-color: transparent;
}

.coursesBtn:hover{
    -fx-graphic: url("img/btn/coursesButtonHover.png");
    -fx-background-color: transparent;
}

.simsBtn{
    -fx-graphic: url("img/btn/simulationsButton.png");
    -fx-background-color: transparent;
}

.simsBtn:hover{
    -fx-graphic: url("img/btn/simulationsButtonHover.png");
    -fx-background-color: transparent;
}

.systemBtn{
    -fx-graphic: url("img/btn/systemButton.png");
    -fx-background-color: transparent;
}

.systemBtn:hover{
    -fx-graphic: url("img/btn/systemButtonHover.png");
    -fx-background-color: transparent;
    -fx-transition: all 5s ease-in-out;
}


.textField{
    -fx-background-color: #363636;
    -fx-text-fill: white;
}

.chemistryBtn{
    -fx-graphic: url("img/btn/Courses/ChemCourseButton.png");
    -fx-background-color: transparent;
}

.physicsBtn{
    -fx-graphic: url("img/btn/Courses/PhysCourseButton.png");
    -fx-background-color: transparent;
}

.mathsBtn{
    -fx-graphic: url("img/btn/Courses/MathCourseButton.png");
    -fx-background-color: transparent;
}

.scrollPane{
    -fx-background-color: #2a2a2a;
}

.gridPane{
    -fx-background-color: #2a2a2a;
}

.lbl{
        -fx-font-size: 40px;
        -fx-font-family: "Courier New";
        -fx-text-fill: white;
}

.balancingActBtn{
    -fx-graphic: url("img/btn/sims/BalancingActSimButton.png");
    -fx-background-color: transparent;
}

.balloonsAndStaticElectricityBtn{
    -fx-graphic: url("img/btn/sims/BalloonsAndStaticElectricitySimButton.png");
    -fx-background-color: transparent;
}